/* Import the fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the fonts globally */
body {
  font-family: 'Nunito', sans-serif; /* Default font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif; /* Headings font */
}

p, a, li, span, div {
  font-family: 'DM Sans', sans-serif; /* Paragraphs and other elements font */
}
